 

 @model AssessmentApp.WebClient.Models.HomeIndexViewModel


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form" }))
{
    <div class="jumbotron">
           Currently Just a Plase Holder<br/>
           I'm think a quick search to find students by name but we'll see...
    </div>
}

 