<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-I2H1OJK\SQLEXPRESS;initial catalog=AssessmentApp;Integrated Security=False;User ID=assessmentAppUser;Password=UserOF90er34sfw3er3498;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>